@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100..900&display=swap');
@import "tailwindcss";

:root {
  --main-bg-color: hsl(218, 28%, 13%);
}

body {
  background-color: var(--main-bg-color);
  padding: 2rem 6rem;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}