@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100..900&display=swap');
@import "tailwindcss";

:root {
  --main-bg-color: hsl(218, 28%, 13%);
  --custom-bg-color: hsl(217, 28%, 15%);
  --quotes-bg-color: hsl(219, 30%, 18%);
  --footer-bg-color: hsl(216, 53%, 9%);

  --teal-200: hsl(176, 68%, 64%);
  --cyan-500: hsl(198, 60%, 50%);
}

body {
  background-color: var(--main-bg-color);
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}